@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Courier+Prime:wght@400;700&family=Lato:wght@100;300;400;900&family=Source+Code+Pro:wght@300;400;600;800;900&display=swap');

* {
  font-family: 'Courier Prime', monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  background-color: beige;
}

header {
  display: flex;
  width: 85%;
  margin: 0 auto;
}

main {
  display: flex;
  margin: 70px;
  justify-content: center;
  background-color: rgb(86, 102, 154);
  padding: 20px;
  border-radius: 10px;
}

.section-head {
  display: flex;
  justify-content: space-between;
}

h1 {
  color: rgb(42, 94, 82);
  font-size: 50px;
  background-color: rgb(255, 255, 255);
  width: 50%;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10%;
}

.section-body {
  margin: 15px 0 15px 0;
}

.section-body ul li {
  padding: 20px;
}

.left {
  margin-right: 70px;
  background-color: rgb(87, 152, 152);
  width: 60%;
  height: 50vh;
  border-radius: 10px;
  padding: 20px;
  color: rgb(46, 46, 46);
}

.left .section-body {
  border: 3px solid black;
  min-width: 30vw;
}

.left .section-body ul li {
  list-style: none;
  height: 30px;
}

.left .section-body ul li:nth-child(even) {
  background-color: rgb(105, 64, 64);
}

.end {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: rgb(150, 150, 3);
  width: 100%;
  padding: 20px;
  border-radius: 10px;
}

form input {
  border: 1px solid black;
  height: 30px;
  width: 20vw;
  padding: 10px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px 0 rgb(0, 0, 0);
}

button {
  border: 1px solid rgb(17, 16, 16);
  width: 70px;
  height: 30px;
  margin-left: 15px;
  box-shadow: 2px 2px 10px 0 rgb(0, 0, 0);
}

form button {
  justify-content: flex-end;
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
  background-color: rgb(96, 179, 147);
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}
